- # This (in haml) defaults to views/layout.haml
- # However, this PR showed me that in padrino, it defaults to views/application.haml:
- # https://github.com/padrino/padrino-framework/commit/8b0b4fafdb85cd5199222a6b5b80ac79234f88ba
- # https://github.com/padrino/padrino-framework/blob/master/padrino-helpers/lib/padrino/rendering.rb#L110

!!!
%html{lang: "en"}
  %head

    - # General
    %title= "ZenPhoto Export"
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    - # Assets
    = stylesheet_tag('app')
    = javascript_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    = javascript_tag('app')

  %body
    - if flash.keys.any?
      %flash
        - flash.keys.each do |k|
          = content_tag :div, flash[k], class: k
    = yield
