- # Show Photos etc
%h2 Albums (#{@albums.count})
= form_tag "/" do
  .albums
    - @albums.where(parentid: nil).each do |album|
      = radio_button_tag "albums[]", value: album.id, id: album.id
      %label{ for: album.id }
        .album{ style: "background-image: url(#{[ZENPHOTO_ALBUM_ROOT_URL, album.folder, album.photos.first.filename].join("/") if album.photos.any?})" }
          .info
            = "#{album.title} (#{album.photos.count} Photos)"
            != album.desc.truncate(20) if album.desc.present?
        .children
          - if album.children.any?
            %ul
              - album.children.each do |child|
                %li= [child.title, "(#{child.children.count} Albums)"].join(" ")
                - if child.children.any?
                  %ul
                    - child.children.each do |x|
                      %li= x.title

  = submit_tag "Generate XML"
