!!!
%html{lang: "en"}
  %head

    - # General
    %title= "ZenPhoto Export"
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}

    - # Assets
    = stylesheet_tag('app')
    = javascript_tag('https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    = javascript_tag('app')

  %body
    - if flash.keys.any?
      %flash
        - flash.keys.each do |k|
          = content_tag :div, flash[k], class: k
    = yield
